<div class="banner banner_culb">
    <div class="banner_btn banner_prev" id="banner_prev">&lt</div>
    <div class="banner_btn banner_next" id="banner_next">&gt</div>
    <ul class="banner_go_left" id="banner_culb">
        <li><img src="images/index_banner4.png"></li>
        <li><img src="images/index_banner1.png" class="banner_img_show"></li>
        <li><img src="images/index_banner2.png"></li>
        <li><img src="images/index_banner03.jpg"></li>
        <li><img src="images/index_banner05.png"></li>
    </ul>
    <ul id="dot_culb" class="banner_dot">
        <li class="ac"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="club_content block_title">
    <div class="inner">
        <div class="Mother_center">
            <div class="title">
                <p>妈宝中心<span>Mother treasure Center</span></p>
            </div>
            <ul>
                <li><a href="javascript:;"><h2>网站活动</h2><img src="images/club_pic_05.png" ></a><a href="javascript:;" class="right"><h2>超妈论坛</h2><img src="images/club_pic_07.png" ></a></li>
                <li><a href="javascript:;"><h2>问卷中心</h2><img src="images/club_pic_12.png" ></a><a href="javascript:;" class="right"><h2>育儿资讯</h2><img src="images/club_pic_13.png" ></a></li>
            </ul>
        </div>
        <div class="change_product">
            <div class="title">
                <p>产品兑换<span>Product exchanger</span></p>
            </div>
            <div class="products_block text_center" id="products_block_wrap">
                <!--<a href="javascript:;"  ng-click="prev()"><img src="images/culb_arrow_left.png"> </a>
                <a href="javascript:;" ng-click="next()"><img src="images/culb_arrow_right.png"> </a>-->
                <ul class="clear show" id="scroll_products_ul" ng-mouseover="cease">
                    <li ng-repeat="item in data">
                        <div class="products_pic">
                            <img ng-src="{{item.imgpic}}">
                        </div>
                        <a href="javascript:;" class="exchange">
                            <span>卷</span>限时兑换
                        </a>
                    </li>
                </ul>
                <!--<ul class="clear" ng-hide="toggle_show">
                    <li ng-repeat="item in data[1]">
                        <div class="products_pic">
                            <img ng-src="{{item.imgpic}}">
                        </div>
                        <a href="javascript:;" class="exchange">
                            <span>卷</span>限时兑换
                        </a>
                    </li>
                </ul>-->
            </div>
        </div>
        <div class="activity">
            <div class="title clear">
                <p class="fl">社区活动<span>Community activities</span></p>
                <a href="javascript:;" class="fr">
                    更多活动&gt&gt
                </a>
            </div>
            <ul class="activity_list">
                <li class="clear">
                    <div class="pic fl">
                        <img src="images/club_pic_16.png">
                    </div>
                    <div class="list fl">
                        <dl>
                            <dt>儿童游泳馆</dt>
                            <dd>精彩火热的夏日活动里，怎么能少了游泳池这个时尚又休闲的好去处？看着清亮亮的水花，你身边的宝贝儿也伸胳膊蹬腿跃
                                跃欲试了。宝宝游泳可不像大人一样，可以扔进水池子自娱自乐，他们需要更安全和
                                更科学的游泳攻略。不过，你也不用担心，从小就在妈妈羊水里成长起来的小宝宝，当个游泳健将一
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="clear">
                    <div class="pic fl">
                        <img src="images/club_pic_19.png">
                    </div>
                    <div class="list fl">
                        <dl>
                            <dt>儿童足球场</dt>
                            <dd>精彩火热的夏日活动里，怎么能少了游泳池这个时尚又休闲的好去处？看着清亮亮的水花，你身边的宝贝儿也伸胳膊蹬腿跃
                                跃欲试了。宝宝游泳可不像大人一样，可以扔进水池子自娱自乐，他们需要更安全和
                                更科学的游泳攻略。不过，你也不用担心，从小就在妈妈羊水里成长起来的小宝宝，当个游泳健将一
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="clear">
                    <div class="pic fl">
                        <img src="images/club_pic_22.png">
                    </div>
                    <div class="list fl">
                        <dl>
                            <dt>儿童爬行赛</dt>
                            <dd>精彩火热的夏日活动里，怎么能少了游泳池这个时尚又休闲的好去处？看着清亮亮的水花，你身边的宝贝儿也伸胳膊蹬腿跃
                                跃欲试了。宝宝游泳可不像大人一样，可以扔进水池子自娱自乐，他们需要更安全和
                                更科学的游泳攻略。不过，你也不用担心，从小就在妈妈羊水里成长起来的小宝宝，当个游泳健将一
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>