<div class="banner">
    <img src="images/index_banner2.png">
</div>
<div class="canvass_content">
    <div class="inner">
        <div class="process">
            <h2>加盟流程</h2>
            <div class="canvass_process">
                <img src="images/canvass_pic_05.gif">
            </div>
        </div>
        <div class="policy clear">
            <h2>加盟政策</h2>
            <div class="policy_wrap">
                <ul class="policy_text fl">
                    <li>对宝德的了解</li>
                    <li>认同宝德品牌文化，认同管理模式</li>
                    <li>具备三年以上的经营经验</li>
                    <li>有良好的个人信誉度</li>
                    <li>有独立承担投资风险的能力</li>
                </ul>
                <div class="policy_pic fl">
                    <img src="images/canvass_pic_09.jpg">
                </div>
            </div>
        </div>
        <div class="words">
            <h2>加盟留言</h2>
            <div class="words_content">
                <h4>请在下面提出您的疑问，我们将会在24小时内为您解答！或则联系我们的客服，在线回答您的问题！<br/>
                    加 <img src="images/words_icon.png">为必填项。具体内容如下</h4>
                <form >
                    <div class="clear">
                        <div class=" words_message fl">
                            <p><img src="images/words_icon.png"> 加盟商姓名：<input type="text"></p>
                            <p><img src="images/words_icon.png"> 加盟商邮箱：<input type="text"></p>
                            <p><img src="images/words_icon.png"> 加盟商电话：<input type="text"></p>
                            <p><img src="images/words_icon.png"> 加盟商地址：<input type="text"></p>
                        </div>
                        <textarea class="fl"></textarea>
                    </div>
                    <div class="words_btn">
                        <button type="button">重设</button>
                        <button type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>