<div class="banner">
    <img src="images/news_banner.jpg">
</div>
<div class="con_news">
    <div class="inner clear">
        <ul class="new_nav">
            <li>
                <a href="#con_news"><h3>公司新闻</h3><br/>BAODA PROFILE</a>
            </li>
            <li>
                <a href="javascript:;"><h3>行业新闻</h3><br/>BAODA PROFILE</a>
            </li>
        </ul>
        <div class="news_title fr">
            <h1>
                公司新闻
            </h1>
            <p>BAODA PROFILE</p>
        </div>
        <div class="the_news news_centent">
            <ul>
                <li class="color-gray clear">
                    <div class="pic fl">
                        <img src="images/news_centent_block_05.jpg">
                    </div>
                    <div class="text fl">
                        <h3><span>N</span>2016-8-5  宝德连续四年荣获“中国优秀企业公民奖”</h3>
                        <p>全球知名多元化医疗保健公司宝德在近期举行的“2014第十届中国优秀企业公民年会暨颁奖盛典”
                            上荣获 “中国优秀企业公民奖”，这是雅培连续第4年获得该奖项。</p>
                    </div>
                </li>
                <li class="color-gray clear">
                    <div class="pic fl">
                        <img src="images/news_centent_block_05.jpg">
                    </div>
                    <div class="text fl">
                        <h3><span>N</span>2016-8-5  宝德连续四年荣获“中国优秀企业公民奖”</h3>
                        <p>全球知名多元化医疗保健公司宝德在近期举行的“2014第十届中国优秀企业公民年会暨颁奖盛典”
                            上荣获 “中国优秀企业公民奖”，这是雅培连续第4年获得该奖项。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>