<div class="banner">
    <img src="images/index_banner3.jpg">
</div>
<div class="con_news">
    <div class="inner clear">
        <div class="clear">
            <ul class="new_nav">
                <li>
                    <a href="#news_centent" class="text_transform"><h3>公司新闻</h3><br/>BAODA PROFILE</a>
                </li>
                <li>
                    <a href="javascript:;" class="text_transform"><i></i><h3>行业新闻</h3><br/>Industry news</a>
                </li>
            </ul>
            <div class="news_title fr">
                <h1>
                    行业新闻
                </h1>
                <p class="text_transform">Industry news</p>
            </div>
        </div>
        <div class="industry_new">
            <div class="industry_new_centent clear">
                <div class="pic fl">
                    <img src="images/industry_news_block_03.jpg">
                </div>
                <ul class="list fl">
                    <li>2016-08-03　助力母婴行业发展 第七届长沙母婴用品博览会11月启</li>
                    <li>2016-06-23　王景海：不能把中国新生儿奶瓶交到外国人手</li>
                    <li>2016-08-02　Babysing风靡全球的背后：尊重设计就是尊重用户</li>
                    <li>2016-07-30　贝亲，以公益传递“爱”</li>
                    <li>2016-07-26　童装安全标准全面升级 ?给孩子买童装不能只顾好看</li>
                    <li> 2016-07-22　国内首台抑菌保鲜冷柜诞生 乳企将受益</li>
                    <li> 2016-07-18　严把质量关 洋奶粉进口需闯“七关”</li>
                    <li> 2016-07-16　母婴行业机遇与挑战并存 看他们如何布</li>
                    <li>2016-06-30　宝德新年爱心捐赠！</li>
                    <li>2016-07-06　HAPPY MAMMY“幸孕旅程”的新春慈善音乐会成功举行</li>
                    <li>2016-07-08　向中国妇女发展基金会捐助价值100万元的产品</li>
                    <li>2016-07-09　恒大许家印:恒大将进军奶业 生产婴幼儿奶粉</li>
                    <li>2016-07-10　蜜芽宝贝刘楠：从淘宝网店到蜜芽宝贝闪购网站</li>
                    <li>2016-11-14　百田CEO吴立立：儿童互联网规模有几十亿元</li>
                </ul>
            </div>
            <div class="industry_new_centent clear">
                <ul class="list list_r fl">
                    <li>2016-08-03　助力母婴行业发展 第七届长沙母婴用品博览会11月启</li>
                    <li>2016-06-23　王景海：不能把中国新生儿奶瓶交到外国人手</li>
                    <li>2016-08-02　Babysing风靡全球的背后：尊重设计就是尊重用户</li>
                    <li>2016-07-30　贝亲，以公益传递“爱”</li>
                    <li>2016-07-26　童装安全标准全面升级 ?给孩子买童装不能只顾好看</li>
                    <li> 2016-07-22　国内首台抑菌保鲜冷柜诞生 乳企将受益</li>
                    <li> 2016-07-18　严把质量关 洋奶粉进口需闯“七关”</li>
                    <li> 2016-07-16　母婴行业机遇与挑战并存 看他们如何布</li>
                    <li>2016-06-30　宝德新年爱心捐赠！</li>
                    <li>2016-07-06　HAPPY MAMMY“幸孕旅程”的新春慈善音乐会成功举行</li>
                    <li>2016-07-08　向中国妇女发展基金会捐助价值100万元的产品</li>
                    <li>2016-07-09　恒大许家印:恒大将进军奶业 生产婴幼儿奶粉</li>
                    <li>2016-07-10　蜜芽宝贝刘楠：从淘宝网店到蜜芽宝贝闪购网站</li>
                    <li>2016-11-14　百田CEO吴立立：儿童互联网规模有几十亿元</li>
                </ul>
                <div class="pic fl">
                    <img src="images/industry_news_block_03.jpg">
                </div>
            </div>
        </div>
    </div>
</div>