<div class="banner">
    <img src="images/index_banner05.png">
</div>
<div class="recruit_content">
    <div class="inner">
        <div class="recruit_title recruit_color">
            <h3>人才中心</h3>
            <h4>TALENT CENTER</h4>
        </div>
        <div class="title_text recruit_color">
            <h3>有爱，有事业。有梦，有理想！</h3>
            <p>There is love, there is a cause.Dream, ideal!</p>
        </div>
        <div class="recruit_block">
            <ul>
                <li class="clear">
                    <div class="text fl">
                        <h2>工作在宝德</h2>
                        <p>如果您正在寻找施展才华的机会，以及充满创新，令人鼓舞的工作环境，亦师亦友的工作伙伴，科勒公司诚邀您的加入。让我们帮助您实现职业的梦想。</p>
                    </div>
                    <div class="pic fr"><img src="images/recruit_block_05.jpg"> </div>
                </li>
                <li class="clear">
                    <div class="text text_r fr">
                        <h2>工作在宝德</h2>
                        <p>科勒公司为员工提供积极友好的, 充满学习氛围的工作环境。我们为员工制定个人发展计划，设立奖励机制，进行多渠道的沟通，实施各种举措帮助员工的职业生涯发展。我们积极推动企业社会责任项目，让员工参与其中，成为一个有责任的社会公民。</p>
                    </div>
                    <div class="pic fl"><img src="images/recruit_block_09.jpg"> </div>
                </li>
                <li class="clear">
                    <div class="text fl">
                        <h2>工作在宝德</h2>
                        <p>科勒公司为员工提供积极友好的, 充满学习氛围的工作环境。我们为员工制定个人发展计划，设立奖励机制，进行多渠道的沟通，实施各种举措帮助员工的职业生涯发展。我们积极推动企业社会责任项目，让员工参与其中，成为一个有责任的社会公民。</p>
                    </div>
                    <div class="pic fr"><img src="images/recruit_block_13.jpg"> </div>
                </li>
            </ul>
        </div>
        <div class="vocational">
            <div class="recruit_title recruit_color">
                <h3>职业发展</h3>
                <h4>Development prospect</h4>
            </div>
            <div class="vocational_pic">
                <img src="images/recruit_block_17.jpg">
            </div>
        </div>
        <div class="fill clear">
            <div class="fill_message fl">
                <form class="clear">
                    <p>应聘者姓名：<input type="text"></p>
                    <p>应聘者邮箱：<input type="email"></p>
                    <p>应聘者电话：<input type="tel"></p>
                    <p>应聘者地址：<input type="text"></p>
                    <label>
                        <button type="button">重设</button>
                        <button type="submit">提交</button>
                    </label>
                </form>
                <div class="download">
                    <a href="javascript:;" class="recruit_color">
                        <img src="images/download.png">
                        简历样板下载
                    </a>
                </div>
            </div>
            <div class="cantact fr">
                <div class="tel"><span>人事部:</span><img src="images/recruit_phone.png"><span>400-159-7868</span></div>
                <div class="email"><img src="images/recruit_mail.png"><span> baodawjj@gzboda.com</span></div>
            </div>
        </div>
    </div>
</div>