<!-- <div class="banner banner_lb" id="banner">
    <img src="images/index_banner1.png" class="banner_img_show">
    <img src="images/index_banner2.png">
    <img src="images/index_banner03.jpg">
    <img src="images/index_banner4.png">
    <img src="images/index_banner05.png">
    <ul id="dot" class="banner_dot">
        <li class="ac"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="about_baoda block_title">
    <div class="inner">
        <div class="title">
            <p>关于我们<span>about_baoda</span></p>
        </div>
        <div class="about_content">
            <div class="about_content_top">
                <h3>用爱做产品，用心做品牌。</h3>
                <p>Make products with love, hard to do the brand.</p>
                <p>让中国宝宝以合理的价格享受具有国际品质的婴幼儿用品</p>
                <p>Let the Chinese baby with a reasonable price to enjoy the international quality of infant supplies</p>
                <p>Let the Chinese baby with a reasonable price to enjoy the international quality of infant supplies</p>
                <p>从原始的母爱出发，打造出全球婴幼儿用品第一品牌。</p>
                <div class="about_content_top_img">
                    <img src="images/index_about.jpg">
                </div>
            </div>
            <div class="about_content_bot">
                <div class="about_content_bot_pic fl">
                    <img src="images/index_v.png">
                </div>
                <dl class="about_content_bot_text fr">
                    <dt>宝德 集团｜企业文化宣传片</dt>
                    <dd>我们激情满怀，战胜一切困难</dd>
                    <dd>续写华章，辉煌再续。。。</dd>
                    <dd>We are full of passion and overcome all difficulties.</dd>
                    <dd> Another brilliant writing Chapter...</dd>
                </dl>
                <a href="javascript:;" class="small_arrow">
                    <img src="images/index_about_right.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="products_centent block_title">
    <div class="inner">
        <div class="title">
            <p>产品中心<span> Baode mall</span></p>
        </div>
        <div class="products_centent_block">
            <ul>
                <li>
                    <div class=""><a href="javascript:;"><img src="images/index_product_bg.png"></a></div>
                    <div>
                        <div class="products_centent_block_text">
                            <p>安心</p>
                            <span>Secure</span>
                        </div>
                    </div>
                </li>
                <li class="products_centent_block_mid">
                    <div class=""><a href="javascript:;"><img src="images/index_product_bg01.png"></a></div>
                    <div>
                        <div class="products_centent_block_text"><p>放心</p><span>Assured</span></div>
                    </div>
                </li>
                <li class="products_centent_block_bot">
                    <div class=""><a href="javascript:;"><img src="images/index_product_bg02.png"></a></div>
                    <div>
                        <div class="products_centent_block_text"><p>商城入口</p><span>Mall entrance</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="the_news block_title">
    <div class="inner">
        <div class="title">
            <p>新闻动态<span>The News</span></p>
        </div>
        <div class="the_news_centent color-gray clear">
            <div class="left fl">
                <img src="images/index_the_new.jpg">
                <div class="text">
                    <h2>推动中法合作 宝德再获殊荣！</h2>
                    <p>宝德集团ceo罗飞先生获得“法国荣誉军团勋章”。</p>
                    <time>POST:2015/09/09</time>
                </div>
            </div>
            <div class="cen fl">
                <ul>
                    <li>
                        <div class="pic fl"><img src="images/index_the_new2.jpg" ></div>
                        <div class="text inner_text fl">
                            <h2>连续12年参加CBME,看看宝德集团今年玩儿什么梗？</h2>
                            <p>People mountain people sea！各位观众大家好！这里是人山人海的第16届上海CBME孕婴童展现场，合小编起了个大早，堵车半天，终于在人群的夹</p>
                            <time>POST:2015/09/09</time>
                        </div>
                    </li>
                    <li>
                        <div class="text inner_text fl">
                            <h2>宝德国际科研合作步入新阶段 研发品控中心落成</h2>
                            <p>2015年6月25日，一直专注于高端婴幼儿营养品及护理用品的宝德公司宣布，投资超4000万元的宝德研发品控中心暨</p>
                            <time>POST:2015/07/02</time>
                        </div>
                        <div class="pic fl"><img src="images/index_the_new3.jpg" ></div>
                    </li>
                </ul>
            </div>
            <div class="left right fl">
                <img src="images/index_the_new4.jpg">
                <div class="text">
                    <h2>喜报|宝德再获2015年度最佳雇主</h2>
                    <p>1月14日，继上月荣获“广东省最佳雇主称号”后，宝德集团又一次在智联招聘年度最佳雇主颁奖典礼上获得殊荣，成为TOP 30榜单中闪耀的人气雇</p>
                    <time>POST:2015/09/09</time>
                </div>
            </div>
        </div>
    </div>
</div>

 -->

 <h1>hhhh</h1>